<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Main</title>
</head>
<body>
<div id="header" class="d-flex bg-dark p-0">
    <div th:text="${authorizedUser.username}" class="p-2 text-white font-weight-bold"></div>
    <div th:text="'with roles: ' + ${userRoles}" class="p-2 w-100 text-white"></div>
    <a class="p-2 text-secondary text-right text-decoration-none" href="/logout">Logout</a>
</div>
<main class="row mr-0">
    <div class="col-2 mt-3 p-0">
        <div id="tablist" class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
            <a id="admin_tab" class="nav-item nav-link ml-2 active" data-toggle="pill" href="#admin_panel" role="tab" aria-controls="admin_panel" aria-selected="true">Admin</a>
            <a id="user_tab" class="nav-item nav-link ml-2" data-toggle="pill" href="#user_panel" role="tab" aria-controls="user_panel" aria-selected="true">User</a>

        </div>
    </div>
    <div class="col-10 pl-0 pr-0">
        <div class="tab-content bg-light p-2">
            <div class="tab-pane fade show active ml-3 mr-3" style="height: 700px;" id="admin_panel" role="tabpanel" aria-labelledby="admin_panel">
                <h1>Admin panel</h1>
                <nav>
                    <div class="nav nav-tabs" role="tablist">
                        <a class="nav-item nav-link active" data-toggle="tab" role="tab" href="#users_table">Users table</a>
                        <a class="nav-item nav-link" data-toggle="tab" role="tab" href="#new_user">New User</a>
                    </div>
                </nav>
                <div class="tab-content">
                    <div class="tab-pane fade show active border" id="users_table" role="tabpanel">
                        <div class="ml-3 pt-1 d-flex border-bottom"><h4> All users</h4></div>
                        <div class="bg-white p-3">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>FirstName</th>
                                    <th>LastName</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${allUsers}">
                                    <td th:utext="${user.id}">ID</td>
                                    <td th:utext="${user.name}">FirstName</td>
                                    <td th:utext="${user.username}">lastName</td>
                                    <td th:utext="${user.age}">age</td>
                                    <td th:utext="${user.email}">email</td>
                                    <td>
                                        <th:block th:each="role : ${user.roles}">
                                            <a th:text="${role}"></a>
                                        </th:block>
                                    </td>
                                    <td><a role="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#edit" th:attrappend="data-target=${user.id}">Edit</a>
                                        <div id="edit" class="modal fade" tabindex="-1" role="dialog" th:attrappend="id=${user.id}" aria-labelledby="TitleModalLabel" aria-hidden="true"
                                             data-backdrop="static" data-keyboard="false">
                                            <div class="modal-dialog modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Edit user</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="formEditUser" th:attrappend="id=${user.id}"
                                                              th:method="POST"
                                                              th:action="@{/admin/update}"
                                                              class="form-signin mx-auto font-weight-bold text-center"
                                                              style="width: 200px;">
                                                            <p>
                                                                <label for="del_id">ID</label>
                                                                <input class="form-control form-control-sm" type="text" name="id" id="del_id" readonly th:value="${user.id}">
                                                            </p>
                                                            <p><label for="name">Name</label>
                                                                <input type="text" name="name" th:value="${user.name}" id="name"></p>
                                                            <p><label for="lastname">Lastname</label>
                                                                <input type="text" name="lastname" th:value="${user.username}" id="lastname"></p>
                                                            <p><label for="Username">Username</label>
                                                                <input type="text" name="username" th:value="${user.username}" id="Username"></p>
                                                            <p><label for="Password">Password</label>
                                                                <input type="password" name="password" th:value="*{user.password}" id="Password"></p>
                                                            <p><label for="age">Age</label>
                                                                <input type="number" name="age" th:value="${user.age}" id="age"></p>
                                                            <p><label for="email">Email</label>
                                                                <input type="text" name="email" th:value="${user.email}" id="email"></p>
                                                            <br>
                                                            <p>
                                                                <select id="roleList" name="roleList" class="form-control" th:multiple="${allRoles.size()}">
                                                                    <option th:each="role : ${allRoles}"
                                                                            th:value="${role}"
                                                                            th:text="${role.toString()}"
                                                                            th:selected="${#lists.contains(user.roles, role)}">
                                                                    </option>
                                                                </select>
                                                            </p>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" form="formEditUser"
                                                                        th:attrappend="form=${user.id}"
                                                                        class="btn btn-primary">Edit
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><a role="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete" th:attrappend="data-target=${user.id}">Delete</a>
                                        <div id="delete" class="modal fade" tabindex="-1" role="dialog" th:attrappend="id=${user.id}" aria-labelledby="TitleModalLabel" aria-hidden="true"
                                             data-backdrop="static" data-keyboard="false">
                                            <div class="modal-dialog modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Delete user</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="formDeleteUser" th:attrappend="id=${user.id}"
                                                              th:method="POST" th:action="@{/admin/delete/{id}(id=${user.id})}"
                                                              class="form-signin mx-auto font-weight-bold text-center"
                                                              style="width: 200px;">
                                                            <p>
                                                                <label for="del_id">ID</label>
                                                                <input class="form-control form-control-sm" type="text" name="id" id="del_id" readonly th:value="${user.id}">
                                                            </p>
                                                            <p><label for="name">Name</label>
                                                                <input class="form-control form-control-sm" type="text" name="name" readonly th:value="${user.name}" id="name"></p>
                                                            <p><label for="lastname">Lastname</label>
                                                                <input class="form-control form-control-sm" type="text" name="username" readonly th:value="${user.username}" id="Username"></p>
                                                            <p><label for="Password">Password</label>
                                                                <input class="form-control form-control-sm" type="password" name="password" readonly th:value="${user.password}" id="Password"></p>
                                                            <p><label for="age">Age</label>
                                                                <input class="form-control form-control-sm" type="number" name="age" readonly th:value="${user.age}" id="age"></p>
                                                            <p><label for="email">Email</label>
                                                                <input class="form-control form-control-sm" type="text" name="email" readonly th:value="${user.email}" id="email"></p>
                                                            <p>
                                                                <select id="roleList" name="roleList" class="form-control" th:multiple="${allRoles.size()}">
                                                                    <option th:each="role : ${user.roles}"
                                                                            th:value="${role}"
                                                                            th:text="${role.toString()}"
                                                                            th:selected="${user.roles.contains(role)}">
                                                                    </option>
                                                                </select>
                                                            </p>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" form="formDeleteUser"
                                                                        th:attrappend="form=${user.id}"
                                                                        class="btn btn-danger">Delete
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade border" id="new_user" role="tabpanel">
                        <div class="pl-3 pt-1 d-flex border-bottom"><h4> Add new user</h4></div>
                        <div class="container bg-white text-center p-3">
                            <form th:method="POST" th:action="@{/admin/create}" th:object="${newUser}" id="formNewUser" style="width: 300px;"
                                  class="form-signin mx-auto font-weight-bold" >
                                <p>
                                    <label>First name</label>
                                    <input class="form-control form-control-sm" type="text"
                                           th:field="*{name}"  placeholder="First name" required autofocus>
                                </p>
                                <p>
                                    <label>Last name</label>
                                    <input class="form-control form-control-sm" type="text" required
                                           th:field="*{username}"  placeholder="Last name">
                                </p>
                                <p>
                                    <label>Age</label>
                                    <input class="form-control form-control-sm" type="number" required
                                           th:field="*{age}" placeholder="Age" value="">
                                </p>
                                <p>
                                    <label>Email</label>
                                    <input class="form-control form-control-sm" type="email"
                                           th:field="*{email}" placeholder="Email" required>
                                </p>
                                <p>
                                    <label>Password</label>
                                    <input class="form-control form-control-sm" type="password"
                                           th:field="*{password}" placeholder="Password" required>
                                </p>
                                <p>
                                    <label>Role</label>
                                    <select id="roleList" name="roleList" class="form-control" th:multiple="${allRoles.size()}">
                                        <option selected >Выберите роль</option>
                                        <option th:each="role : ${allRoles}"
                                                th:value="${role}"
                                                th:text="${role.toString()}">
                                        </option>
                                    </select>
                                </p>
                                <button type="submit" class="btn btn-success">Add new user</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade pl-3" style="height: 700px;" id="user_panel" role="tabpanel" aria-labelledby="user_panel">
                <h1>User information-page</h1>
                <div class="pl-3 pt-1 d-flex border-top border-left border-right"><h4> About user</h4></div>
                <div class="bg-white border p-3">
                    <table class="table table-striped border-top">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:object="${authorizedUser}">
                            <td th:utext="${authorizedUser.id}"></td>
                            <td th:utext="${authorizedUser.name}"></td>
                            <td th:utext="${authorizedUser.username}"></td>
                            <td th:utext="${authorizedUser.age}"></td>
                            <td th:utext="${authorizedUser.email}"></td>
                            <td>
                                <th:block th:each="role : ${authorizedUser.roles}">
                                    <a th:text="${role}"></a>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/NewUser.js"></script>

</body>
</html>