<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <form method="post" action="/login">
        <div><b>Login:</b></div>
        <input name="j_username" placeholder="Enter your username"/>
        <br><br>
        <div><b>Password:</b></div>
        <input name="j_password" type="password" placeholder="Enter your password"/>
        <br><br><br>
        <input type="submit" value="Log in"/>
    </form>
</div>
</body>
</html>